:root {
  --primary: #CE80FF;
  --primary_light: #E0B0FF;
  --primary_dark: #3B0060;

  --secondary: #738BFF;
  --secondary_light: #A8B7FF;
  --secondary_dark: #0028E7;

  --accent: #FFB832;
  --accent_light: #FFD37F;
  --accent_dark: #BF7D00;

  --danger: #E64C79;
  --danger_light: #EF8FAB;
  --danger_dark: #A81742;

  --success: #19E519;
  --success_light: #6FEF6F;
  --success_dark: #108F10;

  --info: #19E5B2;
  --info_light: #6FEFCF;
  --info_dark: #108F6F;

  --warning: #E5D119;
  --warning_light: #EFE36F;
  --warning_dark: #8F8310;

  --neutral: #303030;
  --neutral_light: #B1B1B1;
  --neutral_dark: #121212;
}