<div class="animation-opacity">
  <figure>
    <svg class="front-svg" id="UP_color_animation" xmlns="http://www.w3.org/2000/svg" width="480.81" height="148.99"
      viewBox="0 0 480.81 148.99">
      <desc>Up logo cambiando color</desc>
      <path
        d="M374.49,43.44h17v9c4.68-8,12.08-10.5,19.41-10.5,8.13,0,17,3.1,21.21,12.66,5.75-9.28,14.31-12.66,23-12.66,18.25,0,25.73,15,25.73,30.2v43.13H463.27V74.36c0-8.85-2.66-16.11-11.72-16.11-9.49,0-15,8-15,17.54v39.47H419V74.07c0-8.7-2.66-15.82-11.65-15.82-9.56,0-15.17,8-15.17,17.54v39.47H374.63Z" />
      <path
        d="M291,79.17c0-20.27,14.6-37.24,36.81-37.24s36.81,17,36.81,37.24-14.6,37.53-36.81,37.53S291,99.52,291,79.17Zm55.36,0c0-11.79-5.25-22.07-18.55-22.07S309.3,67.38,309.3,79.17s5.32,22.43,18.55,22.43S346.4,91,346.4,79.17Z" />
      <path
        d="M222.78,79.46c0-18.83,11.22-37.53,34.65-37.53,14.24,0,25.59,6.91,31.06,21.21l-16.68,6.47c-1.87-6.9-7.19-11.79-14.38-11.79-12.08,0-16.82,10.93-16.82,21.64,0,10.93,4.6,21.35,16.82,21.35,7.05,0,12.51-4.67,14.38-11.43l16,6c-4.75,13.37-16,21.28-30.19,21.28C234.14,116.7,222.78,98.51,222.78,79.46Z" />
      <path
        d="M97,33.87h20.54V42c5.7-7,14.74-9.86,23.21-9.86,22.57,0,34.88,19.88,34.88,42.36,0,22.73-12.31,42.37-35.2,42.37-8.72,0-17.19-2.77-22.89-9.78V149H97Zm58.58,40.65c0-13.52-6.11-24-19.8-24s-20,10.35-20,24,6.36,24.36,20,24.36S155.61,88.05,155.61,74.52Z" />
      <path
        d="M0,82.75V33.87H19.63V80.23C19.63,90.9,25,98.56,35.2,98.56c11.16,0,18.33-6,18.33-20.21V33.87H73.24v81.39H53.53v-9.53a30.81,30.81,0,0,1-24,11.16C8.15,116.89,0,99.78,0,82.75Z" />
      <circle class="UP_color_animation" cx="20.96" cy="9.82" r="9.82" fill="#a411f2" />
      <circle class="UP_color_animation" cx="53.67" cy="9.82" r="9.82" fill="#a411f2" />
      <circle class="UP_color_animation" cx="200.9" cy="106.33" r="9.82" fill="#a411f2" />
    </svg>

  </figure>
</div>