<div class="container mb-5 mt-5">
  <div class="row text-center">
    <div class="col mb-3">
      <%= image_tag "icons/cut-cash.svg", class: "mb-3 x64", alt: "Imagen de gastar menos" %>
    <h5 class="mt-0 mb-1">NO COMPRES</h5>Pontelo
    </div>
    <div class="col mb-3">
      <%= image_tag "icons/loading.svg", class: "mb-3 x64 animation-spin", alt: "Reloj de arena" %>
    <h5 class="mt-0 mb-1">NO PIERDAS TIEMPO</h5>Tenlo a domicilio
    </div>
    <div class="w-100"></div>
    <div class="col mb-3">
      <%= image_tag "icons/no-clean.svg", class: "mb-3 x64", alt: "No laves ni planches" %>
    <h5 class="mt-0 mb-1">NO PLANCHES O LIMPIES</h5>Listo para usar
    </div>
    <div class="col mb-3">
      <%= image_tag "icons/armario.svg", class: "mb-3 x64" %>
    <h5 class="mt-0 mb-1">NO TE LIMITES</h5>Todo un armario listo para ti
    </div>
  </div>
</div>
