<footer class="page-footer up-blue pt-4 text-white">
<div class="container">

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <a href="https://www.instagram.com/up.site/" target="_blank"><img src="img/Logo-Instagram.svg" class="icon-mid" alt="InstagramLogo"></a>
        <a href="http://m.me/TheUPsite/?ref=UPHomePage" target="_blank"><img src="img/Logo-Facebook.svg" class="icon-mid" alt="FacebookLogo"></a>
      </li><br><br>
      <li class="list-inline-item">
        <a href="http://eepurl.com/grVgP1" target="_blank" class="btn bg-light">Se un Alpha!</a>
      </li>
    </ul>
  </div>
  <div class="footer-copyright text-center py-3">Copyright © <span itemprop="foundingDate">2019</span>, ÜP.com y afiliados.<br>
  <a href="mailto:contact@üp.com" itemprop="email"> what@üp.com</a>
</div>
</footer>
