<!-- NAV -->
<div id="navbar">
<ul>
  <li class="nav-left"><a href="#home" id="navspace"><img src="img/LogoV2-white.svg" alt="UP Icon"></a></li>
  <li class="nav-left"><a href="#how">EMPIEZA!</a></li>
  <li class="nav-left">
    <%= link_to 'collabfield', root_path, class: 'navbar-brand' %>
  </li>
  <li class="nav-right"><a href="#Login"><img src="img/icons/user.svg" class="icon-small"> Login</a></li>
  <li class="nav-right"><a class="active" href="#Cart"><img src="img/icons/cart-cross.svg" class="icon-small"> Cart</a></li>
</ul>
</div>
