<div class="container mb-5">
  <div class="row text-center">
    <div class="col mb-3"> <img class="mb-3 x64" src="img/icons/cut-cash.svg" alt="Imagen de gastar menos">
    <h5 class="mt-0 mb-1">NO COMPRES</h5>Pontelo
    </div>
    <div class="col mb-3">  <img class="mb-3 x64 animation-spin" src="img/icons/loading.svg" alt="Reloj de arena">
    <h5 class="mt-0 mb-1">NO PIERDAS TIEMPO</h5>Tenlo a domicilio
    </div>
    <div class="w-100"></div>
    <div class="col mb-3">  <img class="mb-3 x64" src="img/icons/no-clean.svg" alt="No limpies ni planches">
    <h5 class="mt-0 mb-1">NO PLANCHES O LIMPIES</h5>Listo para usar
    </div>
    <div class="col mb-3">  <img class="mb-3 x64" src="img/icons/armario.svg" alt="Generic image">
    <h5 class="mt-0 mb-1">NO TE LIMITES</h5>Todo un armario listo para ti</h5>
    </div>
  </div>
</div>
