<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>ÜP.com | Renta ropa en Internet - Monterrey</title>
  <link rel="icon" href="img/up-icon.png"/>
  <link href="css/main.css" rel="stylesheet">
  <%= stylesheet_link_tag "index"%>
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<%= render partial: "landing/navigation_bar" %>
<center>
<!-- Flags List -->
  <!--START Mailchimp-->
  <a href="http://eepurl.com/grVgP1" target="_blank">
  <div class="btn-group" role="group" aria-label="Third group">
  </div>
  </a>
  <!--END Mailchimp-->

  </center>
<!--Footer-->
<%= render partial: "landing/footer" %>

<!-- SCRIPTS -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142285047-1"></script><script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)} gtag('js',new Date());gtag('config','UA-142285047-1');</script>
</body>
</html>
