.button {
  display: flex;
  justify-content: center;
  background-color: var(--primary);
  border: none;
  color: var(--neutral_dark);
  border-radius: 0.25em;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--primary_dark);
  }
}