@import "base/base";
@import "layout/layout";

/* ANIMACIONES */

#UPlogoSVG {
  animation: rainbow 12s infinite alternate;
  animation-delay: 1.5s;
}

@keyframes rainbow {
  12.5% {
    fill: #ef3437;
  }
  25% {
    fill: #e81d1d;
  }
  37.5% {
    fill: #e8b71d;
  }
  50% {
    fill: #e3e81d;
  }
  62.5% {
    fill: #1de840;
  }
  75% {
    fill: #01ffce;
  }
  87.5% {
    fill: #002850;
  }
  100% {
    fill: #452678;
  }
}
.animation-opacity {
  animation: opac 1s;
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animation-spin {
  animation: w3-spin 4s infinite linear;
}
@keyframes w3-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/* FIN ANIMACIONES */

@import "modules/modules";
@import "theme/theme";