body {
  font-family: Helvetica;
  font-size:20px;
  background: #fff;
  -webkit-text-size-adjust: none;
}

/* UP COLORS */
.up-blue{
  background: #002850;
}
/* RESPONSIVE H1 IN LESS THAN -900PX */
@media screen and (max-width:900px){
    h1{
        font-size:5em;
    }
}
@media screen and (max-width:900px){
    h2{
        font-size:4em;
    }
}
@media screen and (max-width:900px){
    h3{
        font-size:3em;
    }
}@media screen and (max-width:900px){
    h4{
        font-size:2em;
    }
}
#firstpage{font-size: 1.5vw;}

#center-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#center-txt{
  text-align: center;
}

#copyright {
  position: absolute;
  text-align: right;
  bottom: 5%;
  width: 95%;
}
figcaption.alpha{
  padding: 0.5em;
  background-color: rgba(255, 0, 0, 0.7);
  color: #fff;
  border-radius: 2em;
  position: absolute;
  top: -15%;
  left: -25%;
  transform: rotate(330deg)

}

.fullpage {
  height: 100vh;
}
.fullpage-1 {
  height: 100vh;

}
.halfpage {
  height: 50vh;
}

.give9{
  width: 80%;
}

/* ANIMACIONES */

#UPlogoSVG {
  animation: rainbow 12s infinite alternate;
  animation-delay: 1.5s;
}

@keyframes rainbow{
  12.5% {fill:#EF3437;}
  25% {fill:#e81d1d;}
  37.5% {fill:#e8b71d;}
  50% {fill:#e3e81d;}
  62.5% {fill:#1de840;}
  75% {fill:#01FFCE;}
  87.5% {fill:#002850;}
  100% {fill:#452678;}
}
.animation-opacity{animation:opac 1s}@keyframes opac{from{opacity:0} to{opacity:1}}
.animation-spin{animation:w3-spin 4s infinite linear}@keyframes w3-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}

/* FIN ANIMACIONES */

.icon-small{
  height: 20px;
}
.icon-mid {
  width: 60px;
}
.image-mid {
  width: 60%;
}
.x64{
  height: 5em;
  width: 5em;
}

#downpage {
  height: 100vh;
}

#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#aa-subscribe .aa-subscribe-area .aa-subscribe-form input[type="submit"] {
  background: #171E51 none repeat scroll 0 0;
  border: 1px solid #171E51;
}

#navbar{
  z-index: 500;
}
#navbar ul{
  list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #002850;
}
#navbar li {
  float: left;
}
#navbar li a{
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  border-bottom: 2px solid #002850;
  font-size: 21px;
  transition: all 100ms linear;
}
#navbar #navspace {
padding: 9px 90px 54px 32px;
}
#navbar li a:hover:not(.active) {
  background-color: #000;
    border-bottom: 2px solid #fff;
}
.btn-green {
  background-color: #4CAF50;
  border-bottom: 2px solid #4CAF50 !important;
}
li.nav-right {
    float: right !important;
  }

.FlyMe {
  padding: absolute;
  top: 20%;
  z-index: 1;
  color: #000;
}

.ToThe {
  position: absolute;
  left: 0px;
  top: 100vh;
  width: 100%;
  z-index: -1;
}

.Moon {
  top: 120vh;
  padding-bottom: 10%;
}
.Moon:hover{filter: hue-rotate(310deg);}

#img-icon{
  width: 12px;
  height: 12px;
}
#navbar .nav-left{
  float: left;
}
#navbar .nav-left img{
height: 44px;
  padding-right: 5px;
  position: absolute;

}
#navbar .nav-right{
  float: right;
}
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 60px;
}

/* :) */
