<div class="card card--pointer">
  <div class="card__img-container">
      <img alt="<%= product.alt_img%>" src="<%= product.thumbnail%>">
  </div>
  <div class="card__information">
    <p><%= product.name %></p>
    <p><%= number_to_currency(product.price)%> MXN</p>
  </div>
</div>