<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim harum, nam quae culpa unde voluptatibus distinctio nulla esse laborum quos fugit quod porro expedita saepe ipsa quo qui temporibus atque! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae eligendi laborum, provident nulla, autem itaque modi, temporibus inventore ducimus excepturi error incidunt deserunt unde enim? Quas placeat eligendi laudantium consectetur?</p>

<h1>Catálogo</h1>

<div class="grid">
  <%= render @products %>
</div>