<div class="navigation__container">
  <div class="container navigation__menu__container">
    <span class="navigation__brand">
      <%= link_to 'Home', root_path %>
      <!-- <%= inline_svg_tag "logo.svg" %> -->
    </span>
    <ul class="navigation__menu"></ul>
  </div>
</div>